# Added by Payload
PREVIEW_SECRET=YOUR_SECRET_HERE
# Used to validate preview requests
CRON_SECRET=YOUR_CRON_SECRET_HERE
# Secret used to authenticate cron jobs
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Used to configure CORS, format links and more. No trailing slash
PAYLOAD_SECRET=24bb089b87b50664f1e766a4
# Used to encrypt JWT tokens
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name
# Or use a PG connection string
DATABASE_URI=postgresql://neondb_owner:npg_4cZri0mluoId@ep-purple-hill-a4d3lo88-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
# Database connection string